body{
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
}

h1, h2, h3, h4, h5, li{
    color: #000078;
}

p{
    color: #787878;
    font-size: 12px;
}

/*HEADER*/

#header{
    background-color: #dcdaff;
    padding-top: 30px;
    width: 100%;
}

#topnavigation img{
    margin-left: 40px;
    float: left;
}

#topnavigation{
    margin-right: 40px;
}

#login a{
    color: white;
    text-decoration:none;
    background-color: #07034d;
    padding: 10px;
    margin-top: 4px;
    float: right;
    margin-left: 10px;
    border-radius: 10px;
    text-align: right;
}

#topnavigation:after{
    content: "";
    clear: both;
    display: block;
    margin-bottom: 40px;
}

#header2{
    margin-top: 40px;
    margin-left: 90px;
}

#header2 h3, #header h1{
    margin-bottom: 20px;
}

#header h3, #header p{
    width: 50%;
}

#header p{
    margin-bottom: 40px;
}

#header2 a{
    background-color: #07034d;
    padding: 12px;
    border-radius: 10px;
    color: white;
    margin-left: 60px;
    text-decoration:none;
    display: inline-block;
    padding-top: 10px;
    text-align: left;
}

#header2 img, #product img{
    float: right;
    margin-right: 25px;
}

#header:after{
    content: "";
    clear: both;
    display: block;
    margin-bottom: 40px;
}

/*PRODUCT*/

#product{
    max-width: 100%;
    margin: 10px;
}

#product img{
    width: 15%;
}

.allproducts{
    width: 75%;
    display: flex;
}

#product1, #product2, #product3, #product4, #product5{
    display:inline-block;
    max-width: 45%;
}

#product2{
    padding-top: 0px;
}

body>img{
    float: left;
    width: 15%;
    margin-right: 20px;
}

/*SAFETY*/

#safety{
    background-color: #dcdaff;
}

#safety h2{
    padding-top: 15px;
    text-align: center;
}

.list{
    width: 80%;
    display: inline-flex;
}

#safety1, #safety2, #safety3, #safety4{
    display: inline-block;
    width: 45%;
}

#safety1, #safety3{
   margin-top: 30px;
    margin-right: 15px
}

#safety2{
    margin-right: 15px
}
/*CLOCK*/

#time h1{
    margin-left: 30px;
}

#time ul{
    list-style-image: url(small.png);
    margin-left: 100px;
    line-height: 2em;
}

#time:after{
    content: "";
    clear: both;
    display: block;
}

#time img{
    float: right;
}

#launch h3{
    text-align: center;
    color: white;
    margin-bottom: 70px
}

#launch{
    background-image: url(Logobluebackground.gif); 
    background-repeat: no-repeat; 
    background-size: contain; 
    background-position: center;
    background-color: #07034d; padding-top: 1px
}

#google{
    margin-left: 30px; 
    float: left; 
    margin-bottom: 10px
}

#apple{
    margin-right: 30px; 
    float: right; 
    margin-bottom: 10px
}

/*LAUNCH*/

#launch:after{
    content: "";
    clear: both;
    display: block;
}
#countdown{
    text-align: center;
}

#clock{
    display: inline-flex;
}

.days{
    margin-right: 40px;
}

/*FOOTER*/

footer{
    background-color: #07034d;
    padding-bottom: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#motto h2{
    color: white;
    padding-top: 15px;
    margin-left: 30px;
}

span a, span h4{
    color: white;
    text-decoration: none;
}

#products, #connectask, #companysupport{
    margin: 3%;
    float: left;
}

#all{
    display: inline-block;
    width: 100%;
}

#social{
    float: right;
    margin-right: 20px;
    display: inline-block;
    position: relative;
}

.socialmedia{
    position: absolute;
    bottom: 1px;
    top: 92%;
    left: 84px;
}

#all h4{
    color:darkslateblue;
}

#all:after{
    content: "";
    clear: both;
    display: block;
}

#copyright h5{
    text-align: center;
    color: white;
    font-size: 10px;
    margin-bottom: 0px;
}

/*MEDIA QUERY*/

@media screen and (max-width:768px){
    #topnavigation{
        margin-right: px;
    }
    
    #topnavigation img{
        margin-left: 5px;
    }
    
    #login a{
        padding: 6px;
        font-size: 12px;
        border-radius: 5px;
        margin-top: 10px;
    }
    
    #header2{
        margin-left: 10px;
    }
    
    #header2 img{
        margin-right: 0px;
        margin-bottom: 10px;
    }
    
    #header2 h3, #header2 p{
        width: auto;
    }
    
    #product{
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 0px;
    }
    
    #product img{
        margin-top:20%;
        margin-right:0px;
        width: 15%;
    }
    
    #product3, #product4, #product1, #product2{
        margin-top: 10px;
    }
    
    .allproducts{
        width: 80%;
        text-align: center;
        align-items: center;
        justify-content: space-around;
    }
    
    .allproducts h3{
        font-size: 16px;
    }
    
    body>img{
        width: 30%;
        margin-top: 100px;
    }
    
    #safety h2{
        font-size: 22px;
        width: 80%;
        position: relative;
        top: 20px;
    }
    
    
    .list{
        width: 60%;
        align-items: center;
        justify-content: space-around;
        position: relative;
        display: inline-block;
    }
    
    #safety1, #safety3{
        width: 45%;
        font-size: 14px;
    }
    
    #safety2,  #safety4{
        width: 45%;
        font-size: 14px;
    }
    
    #time h1{
        margin-left: 10px;
        font-size: 22px;
        margin-bottom: 0px;
    }
    
    #time ul{
        margin-left: 10px;
        font-size: 12px;
        margin-bottom: 0px;
    }
    
    #time img{
        width: 30%;
    }
    
    #google, #apple{
        margin: 10px;
        width: 25%;
    }
}


@media screen and (max-width:360px){
    
    #topnavigation{
        margin-right: 5px;
    }
    
    #topnavigation img{
        margin-left: 5px;
    }
    
    #login a{
        padding: 5px;
        font-size: 12px;
        border-radius: 5px;
        margin-top: 10px;
    }
    
    #header2{
        margin-left: 10px;
    }
    
    #header2 img{
        margin-right: 0px;
        margin-bottom: 10px;
        width: 99%;
        height: 40%;
    }
    
    #header2 h3, #header2 p{
        width: auto;
    }
    
    #product{
        margin-left: 10px;
        margin-right: 10px;
    }
    
    #product img{
        margin-right: 0px;
        float: none;
        margin-left: 80px;
        width: 50%;
    }
    
    #product3, #product4, #product1, #product2{
        margin-top: 10px;
    }
    
    .allproducts{
        width: 100%;
    }
    
    .allproducts h3{
        font-size: 16px;
    }
    
    body>img{
        width: 25%;
        margin-top: 5px;
        margin-right: 0px;
    }
    
    #safety h2{
        font-size: 20px;
        margin-bottom: 50px;
        width: 100%;
    }
    
    .list{
        display: inline-block;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        position: relative;
        
    }
    
    #safety1, #safety3{
        width: 35%;
        margin-left: 10px;
        font-size: 12px;
    }
    
    #safety2, #safety4{
        margin: 10px;
        font-size: 12px;
    }
    
    #time h1{
        margin-left: 10px;
        font-size: 22px;
        margin-bottom: 0px
    }
    
    #time ul{
        margin-left: 10px;
        font-size: 12px;
        margin-bottom: 0px;
    }
    
    #time img{
        width: 40%;
        margin-top: 16%;
    }
    
    #google, #apple{
        margin: 5px;
        width: 30%;
    }
    
    #countdown h2{
        font-size: 20px;
    }
    
    #countdown p{
        font-size: 10px;
    }
    
    footer h4, footer a{
        font-size: 14px;
    }
    
    #all{
        text-align: center;
    }
}
