body{
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
}

h1, h2, h3, h4, h5, li{
    color: #000078;
}

p, li{
    color: #787878;
    font-size: 12px;
}

/*Navigation*/

#header{
    background-color: #dcdaff;
    padding-top: 30px;
}

#topnavigation img{
    margin-left: 40px;
    float: left;
}

#topnavigation{
    margin-right: 40px;
}

#login a{
    color: white;
    text-decoration:none;
    background-color: #07034d;
    padding: 10px;
    margin-top: 4px;
    float: right;
    margin-left: 10px;
    border-radius: 10px;
    text-align: right;
}

#topnavigation:after{
    content: "";
    clear: both;
    display: block;
    margin-bottom: 40px;
}

#header2{
    margin-top: 40px;
    margin-left: 90px;
}

#header p{
    margin-bottom: 40px;
    width: 50%;
}

#header2 img{
    float: right;
    margin-right: 70px;
}

#header:after{
    content: "";
    clear: both;
    display: block;
    margin-bottom: 40px;
}

/*The body*/
section{
   /*height: 100vh;*/
    width: 100%;
    display: flex;
}

.container{
    max-width: 100rem;
    padding: 0 5.5rem;
}

.container-item{
    background-color: #white;
    border-radius: 16px;
    box-shadow: .5rem 5px .5rem 1px #dcdaff;
    padding: 1rem;
    margin-bottom: 15px;
    margin-top: 20px;
}

.container-link{
    font-size: 1.25rem;
    color: #000078;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.container-link ion-icon[name="phone-portrait-outline"]{
    display: none;
}

.container-item:target .container-link ion-icon[name="phone-landscape-outline"]{
    display: none;
}

.container-item:target .container-link ion-icon[name="phone-portrait-outline"]{
    display: block;
}

strong{
    color: #07034d;
}

.script{
    max-height: 0;
    overflow: hidden;
    /*background-color: aliceblue;*/
    position: relative;
    transition: max-height 1700ms;
}

.script::before{
    content: "";
    position: absolute;
    width: .2rem;
    height: 90%;
    background-color: #787878;
    left: 0;
    margin: 1px;
    top: 50%;
    transform: translateY(-50%);
}

.script p{
    font-size: 1rem;
    padding: 1rem;
}

.script li{
    font-size: 1rem;
}

.script ul{
    margin-left: 2rem;
    list-style-image: url(../Home/Icons/small.png);
}

.container-item:target .script{
    max-height: 30rem;
}

ion-icon {
  color: #00021e;
}

/*The footer*/

footer{
    background-color: #07034d;
    padding-bottom: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#motto h2{
    color: white;
    padding-top: 15px;
    margin-left: 30px;
}

span a, span h4{
    color: white;
    text-decoration: none;
}

#products, #connectask, #companysupport{
    display: inline-block;
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 10px;
    float: left;
}

#social{
    float: right;
    margin-right: 20px;
    display: inline-block;
    position: relative;
}

.socialmedia{
    position: absolute;
    bottom: 1px;
    top: 92%;
    left: 84px;
}
/*
.socialmedia a img{
    margin-left: 1px;
}
*/
#all h4{
    color:darkslateblue;
}

#all:after{
    content: "";
    clear: both;
    display: block;
}

#copyright h5{
    text-align: center;
    color: white;
    margin-bottom: 0px;
}

@media screen and (max-width: 734px){
    #topnavigation a img{
        margin-left: 25px;
        width: 15%;
        height: 30%;
    }
    
    #header img{
        margin-right: 10px;
    }
    
    #topnavigation{
        margin-right: 10px;
    }
    
    #login a{
        margin-left: 10px;
        padding: 6px;
        font-size: 12px;
        border-radius: 5px;
    }
    
    #header2{
        margin-left: 20px;
    }
    
    #header2 p{
        width: 90%;
    }
    
    .container{
        padding: 1.5rem;
    }
    
    .container-item{
        padding: 0.8rem;
        border-radius: 10px;
    }
    
    .container-link{
        font-size: 16px;
    }
    
    .script p, .script li{
        font-size: 12px;
    }
    
    #products, #connectask, #companysupport{
        font-size: 14px;
    }
    
    footer h2{
        font-size: 18px;
    }
    
    #copyright h5{
        font-size: 10px;
    }
    
}

@media screen and (max-width:360px){
    #topnavigation a img{
        margin-left: 15px;
        width: 30%;
        height: 30%;
    }
    
    #header img{
        margin-right: 10px;
    }
    
    #topnavigation{
        margin-right: 10px;
    }
    
    #login a{
        margin-left: 2px;
        padding: 6px;
        font-size: 12px;
        border-radius: 5px;
    }
    
    #header2{
        margin-left: 20px;
    }
    
    #header2 p{
        width: 90%;
    }
    
    .container{
        padding: 1.5rem;
    }
    
    .container-item{
        padding: 0.7rem;
        border-radius: 10px;
    }
    
    .container-link{
        font-size: 12px;
    }
    
    .script p, .script li{
        font-size: 12px;
    }
    
    #products, #connectask, #companysupport{
        font-size: 14px;
    }
    
    footer h2{
        font-size: 18px;
    }
    
    #copyright h5{
        font-size: 10px;
    }
    
    #social{
        margin-right: 2px;
    }
    
}